<!DOCTYPE html>
<html>
  <head>
    <title>BBS</title>
    <%= csrf_meta_tags %>
 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 
  <body>
    <header>
      <h1><%= link_to "ひとことBBS", "/" %></h1>  <!-- ここを書き換え -->
      <ul>
        <li>
<<<<<<< HEAD
          <%= link_to "新規投稿", new_tweet_path %>  <!-- ここを書き換え -->
=======
          <%= link_to "新規投稿", new_tweet_path %>
>>>>>>> fb963b9acbd69b1453ab1a8fb7b98c7eac5a949c
        </li>
      </ul>
    </header>
 
    <%= yield %>
  </body>
</html>